body{font-family: "微软雅黑"; font-size: 14px; color: #333;}
em{font-style: normal;}
.header{font-size: 18px; color: #D52D2D; text-decoration: underline; font-weight: normal;}
.header em{color: #2525D3; text-decoration: underline;}
.red{color: #D52D2D;}
.green{color: #167A16;}
.gray{color: #595959; text-decoration: underline;}
